	BODY {SCROLLBAR-FACE-COLOR: #5c5c5c; FONT-SIZE: 10pt; margin-left : 0px; margin-top : 0px; Margin-bottom: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #a1a1a1; SCROLLBAR-SHADOW-COLOR: #303030; SCROLLBAR-ARROW-COLOR: #a3a3a3; FONT-FAMILY: Arial, Helvetica, sans-serif}
	
	P {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt}
	
	TD {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt}
	
	A:visited {COLOR: #0b5eb1; TEXT-DECORATION: none}
	
	A:hover {COLOR: #CC0000; TEXT-DECORATION: underline }
	
	A {COLOR: #0b5eb1; TEXT-DECORATION: none}
		
	.S2B  {FONT-FAMILY: Arial, Helvetica, sans-serif; font-size: 15px; font-weight:bold;}
	
	.S3B  {FONT-FAMILY: Arial, Helvetica, sans-serif; font-size: 17px; font-weight:bold;}
	
	.S35B  {FONT-FAMILY: Arial, Helvetica, sans-serif; font-size: 19px; font-weight:bold;}
	
	.S4B  {FONT-FAMILY: Arial, Helvetica, sans-serif; font-size: 21px; font-weight:bold;}
	
    